body {
    margin: 0;
    padding: 0;
    background-color: hsl(217, 54%, 11%);
    font-family: 'outfit',Arial, Helvetica, sans-serif;
}

.card {
    background-color: hsl(216, 50%, 16%);
    margin: 2% auto;
    border-radius: 20px;
    width: 300px;
    height: 550px;
    padding: 1rem;
    color: hsl(215, 51%, 70%);
    font-weight: 300;
}

.foto-produto {
    width: 300px;
}

.descricao {
    font-size: 18px;
}

.titulo {
    font-weight: 400;
    color: hsl(0, 0%, 100%);
}

.titulo:hover,.nome-criador:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

.container-info {
    display: flex;
    justify-content: space-between;
}

.preco {
    color: hsl(178, 100%, 50%);
    font-weight: 600;
}

.preco::before {
    content: url('images/icon-ethereum.svg');
    margin-right: 0.5em;
}
.tempo-restante::before {
    content: url('images/icon-clock.svg');
    margin-right: 0.5em;
}

hr {
    color: hsl(215, 51%, 70%);
}

.criador {
    display: flex;
    justify-content: space-evenly;
}

.avatar {
    width: 10%;
    border: 1px solid hsl(215, 51%, 70%); ;
    border-radius: 50%;
}